# Getting Started with Data

Data science is about the study of data

In our first example Rosie is a middle school study who runs a lemonade stand to make money in her spare time and because she is smart she keeps records of each day to analyze her performance as a lemonade entrepreneur. The examples in the [course](https://www.edx.org/course/introduction-to-data-science "Edx course") uses excel to load the data but here we will be using python 3 and jupyter notebook. The first thing we want to do is load our libraries. The first line of the code below allow the notebook to display plots.

In [14]:
%matplotlib inline
import pandas as pd
from matplotlib import pyplot as plt

## We will now import our data from lemonade to a dataframe
The head function allow us to display the first n rows of the data where n is set to 5 by default.

In [34]:
df = pd.read_csv('data/Lemonade.csv')
df.head()

         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  01/01/2017     Sunday         27.0      2.00      15    0.3     10
1  02/01/2017     Monday         28.9      1.33      15    0.3     13
2  03/01/2017    Tuesday         34.5      1.33      27    0.3     15
3  04/01/2017  Wednesday         44.1      1.05      28    0.3     17
4  05/01/2017   Thursday         42.4      1.00      33    0.3     18
5  06/01/2017     Friday         25.3      1.54      23    0.3     11

In our example when reading in our data we can see that each day is represent by a row and the collumn represent information about that day such as date, day, weather, flyers, price and sales.
If we wanted to see the names our the fields of our data we can do it with the list() function.

In [21]:
list(df)

['Date', 'Day', 'Temperature', 'Rainfall', 'Flyers', 'Price', 'Sales']

## Different Types of Fields in our Data
![alt text](images/data.png "Lemonade Data")

### In the figure above we see that our data can be:
* **Temporal**
  * Represent date and times 
  * Ordered, ex. Jan 2nd comes after Jan 1st
  * Can perform operation on temportal data but different from arithmetic operations
* **Text/String**  
  * Usually used to represent categories or classes
* **Numeric**
  * Contains number but there are two sub classes of Numerics
    * Continuous
      * Values can be measured 
      * Temperature and Rainfall are examples
    * Discrete 
      * Values are counted
      * belongs in a set of limited number of distinct value
      * Flyers, Price and Sales are all discrete, even though Price takes on the value of a float there are only a limited of priced items on the menu

It is import to understand the field of our data and what kinda information they hold. Lets see if pandas read in our CSV file the way we wanted it to.

In [32]:
df.dtypes

Date            object
Day             object
Temperature    float64
Rainfall       float64
Flyers           int64
Price          float64
Sales            int64
dtype: object

Date and Day return to us as objets, we will want to get more information out of those two but all our numerica seem to match as expected.

In [37]:
print('The data type of Date is:', type(df.loc[0,'Date']))
print('The data type of Day is:', type(df.loc[0,'Day']))

The data type of Temperature is: <class 'str'>
The data type of Day is: <class 'str'>

Both Date and Day are seen as string, while we expected Day to be a string we want Date to be a temporal

In [39]:
df.sort_values('Sales')
df

           Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0    01/01/2017     Sunday         27.0      2.00      15    0.3     10
1    02/01/2017     Monday         28.9      1.33      15    0.3     13
2    03/01/2017    Tuesday         34.5      1.33      27    0.3     15
3    04/01/2017  Wednesday         44.1      1.05      28    0.3     17
4    05/01/2017   Thursday         42.4      1.00      33    0.3     18
5    06/01/2017     Friday         25.3      1.54      23    0.3     11
6    07/01/2017   Saturday         32.9      1.54      19    0.3     13
7    08/01/2017     Sunday         37.5      1.18      28    0.3     15
8    09/01/2017     Monday         38.1      1.18      20    0.3     17
9    10/01/2017    Tuesday         43.4      1.05      33    0.3     18
10   11/01/2017  Wednesday         32.6      1.54      23    0.3     12
11   12/01/2017   Thursday         38.2      1.33      16    0.3     14
12   13/01/2017     Friday         37.5      1.33      19    0.3     15
13   14/01/2017   Saturday         44.1      1.05      23    0.3     17
14   15/01/2017     Sunday         43.4      1.11      33    0.3     18
15   16/01/2017     Monday         30.6      1.67      24    0.3     12
16   17/01/2017    Tuesday         32.2      1.43      26    0.3     14
17   18/01/2017  Wednesday         42.8      1.18      33    0.3     16
18   19/01/2017   Thursday         43.1      1.18      30    0.3     17
19   20/01/2017     Friday         31.6      1.43      20    0.3     12
20   21/01/2017   Saturday         36.2      1.25      16    0.3     14
21   22/01/2017     Sunday         40.8      1.11      19    0.3     16
22   23/01/2017     Monday         38.1      1.05      21    0.3     17
23   24/01/2017    Tuesday         28.6      1.54      20    0.3     12
24   25/01/2017  Wednesday         32.2      1.25      24    0.3     14
25   26/01/2017   Thursday         35.8      1.25      18    0.3     16
26   27/01/2017     Friday         42.1      1.05      22    0.3     17
27   28/01/2017   Saturday         34.9      1.33      15    0.3     13
28   29/01/2017     Sunday         35.2      1.33      27    0.3     14
29   30/01/2017     Monday         41.1      1.05      20    0.3     17
..          ...        ...          ...       ...     ...    ...    ...
335  02/12/2017   Saturday         44.1      1.11      35    0.3     17
336  03/12/2017     Sunday         33.5      1.18      19    0.3     15
337  04/12/2017     Monday         34.9      1.54      16    0.3     13
338  05/12/2017    Tuesday         22.0      1.82      11    0.3     10
339  06/12/2017  Wednesday         44.7      0.95      28    0.3     19
340  07/12/2017   Thursday         42.1      1.05      26    0.3     17
341  08/12/2017     Friday         40.5      1.25      30    0.3     15
342  09/12/2017   Saturday         31.2      1.43      19    0.3     14
343  10/12/2017     Sunday         31.3      1.82      15    0.3     11
344  11/12/2017     Monday         45.1      1.11      33    0.3     17
345  12/12/2017    Tuesday         33.5      1.33      22    0.3     15
346  13/12/2017  Wednesday         32.2      1.43      26    0.3     14
347  14/12/2017   Thursday         31.9      1.54      24    0.3     13
348  15/12/2017     Friday         42.1      1.05      30    0.3     17
349  16/12/2017   Saturday         35.5      1.25      30    0.3     15
350  17/12/2017     Sunday         32.2      1.33      16    0.3     14
351  18/12/2017     Monday         30.9      1.43      27    0.3     13
352  19/12/2017    Tuesday         41.4      1.00      33    0.3     18
353  20/12/2017  Wednesday         36.8      1.25      20    0.3     16
354  21/12/2017   Thursday         40.5      1.33      23    0.3     15
355  22/12/2017     Friday         30.9      1.54      17    0.3     13
356  23/12/2017   Saturday         42.4      1.11      20    0.3     18
357  24/12/2017     Sunday         35.8      1.25      26    0.3     16
358  25/12/2017     Monday         35.5      1.25      19    0.3     15
359  26/12/2017    Tuesday         28.9      1.43      23    0.3     13
360  27/12/2017  Wednesday         42.7      1.00      33    0.3     19
361  28/12/2017   Thursday         37.8      1.25      32    0.3     16
362  29/12/2017     Friday         39.5      1.25      17    0.3     15
363  30/12/2017   Saturday         30.9      1.43      22    0.3     13
364  31/12/2017     Sunday         15.1      2.50       9    0.3      7

[365 rows x 7 columns]