# Getting Started with Data

Data science is about the study of data

In our first example Rosie is a middle school study who runs a lemonade stand to make money in her spare time and because she is smart she keeps records of each day to analyze her performance as a lemonade entrepreneur. The examples in the [course](https://www.edx.org/course/introduction-to-data-science "Edx course") uses excel to load the data but here we will be using python 3 and jupyter notebook. The first thing we want to do is load our libraries. The first line of the code below allow the notebook to display plots.

In [1]:
%matplotlib inline
import pandas as pd
from matplotlib import pyplot as plt

## How to Import Data
We will now import our data from lemonade to a dataframe. The head function allow us to display the first n rows of the data where n is set to 5 by default.

In [2]:
df = pd.read_csv('data/Lemonade.csv')
df.head()

         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  01/01/2017     Sunday         27.0      2.00      15    0.3     10
1  02/01/2017     Monday         28.9      1.33      15    0.3     13
2  03/01/2017    Tuesday         34.5      1.33      27    0.3     15
3  04/01/2017  Wednesday         44.1      1.05      28    0.3     17
4  05/01/2017   Thursday         42.4      1.00      33    0.3     18

In our example when reading in our data we can see that each day is represent by a row and the collumn represent information about that day such as date, day, weather, flyers, price and sales.
If we wanted to see the names our the fields of our data we can do it with the list() function.

In [3]:
list(df)

['Date', 'Day', 'Temperature', 'Rainfall', 'Flyers', 'Price', 'Sales']

### Our data can take one of 3 field:
* **Temporal**
  * Represent date and times 
  * Ordered, ex. Jan 2nd comes after Jan 1st
  * Can perform operation on temportal data but different from arithmetic operations
* **Text/String**  
  * Usually used to represent categories or classes
* **Numeric**
  * Contains number but there are two sub classes of Numerics
    * Continuous
      * Values can be measured 
      * Temperature and Rainfall are examples
    * Discrete 
      * Values are counted
      * belongs in a set of limited number of distinct value
      * Flyers, Price and Sales are all discrete, even though Price takes on the value of a float there are only a limited of priced items on the menu
     
## Different Types of Fields in Our Data
![alt text](images/data.png "Lemonade Data")

It is import to understand the field of our data and what kinda information they hold. Lets see if pandas read in our CSV file the way we wanted it to.

In [4]:
df.dtypes

Date            object
Day             object
Temperature    float64
Rainfall       float64
Flyers           int64
Price          float64
Sales            int64
dtype: object

Date and Day return to us as objets, we will want to get more information out of those two but all our numerica seem to match as expected.

In [5]:
print('The data type of Date is:', type(df.loc[0,'Date']))
print('The data type of Day is:', type(df.loc[0,'Day']))

The data type of Date is: <class 'str'>
The data type of Day is: <class 'str'>

Both Date and Day are seen as string, while we expected Day to be a string we want Date to be a temporal, but we also want to have our indexes define by their dates.

In [6]:
df = pd.read_csv('data/Lemonade.csv', index_col = 'Date', parse_dates = True, na_values = 'nan' )

## Sorting and Filtering

In [7]:
df.head()

                  Day  Temperature  Rainfall  Flyers  Price  Sales
Date
2017-01-01     Sunday         27.0      2.00      15    0.3     10
2017-02-01     Monday         28.9      1.33      15    0.3     13
2017-03-01    Tuesday         34.5      1.33      27    0.3     15
2017-04-01  Wednesday         44.1      1.05      28    0.3     17
2017-05-01   Thursday         42.4      1.00      33    0.3     18

Current our data is sorted by Date, but say we wanted to sort our data by Sales.

In [8]:
df.sort_values('Sales').head()

                Day  Temperature  Rainfall  Flyers  Price  Sales
Date
2017-12-31   Sunday         15.1      2.50       9    0.3      7
2017-05-12  Tuesday         22.0      1.82      11    0.3     10
2017-01-01   Sunday         27.0      2.00      15    0.3     10
2017-06-01   Friday         25.3      1.54      23    0.3     11
2017-10-12   Sunday         31.3      1.82      15    0.3     11

lets now say we want to order our flyer in decending order

In [9]:
df.sort_values('Flyers', ascending=False).head()

                  Day  Temperature  Rainfall  Flyers  Price  Sales
Date
2017-07-14     Friday         92.0      0.50      80    0.5     40
2017-06-16     Friday         99.3      0.47      77    0.3     41
2017-06-21  Wednesday         94.3      0.47      76    0.3     41
2017-07-18    Tuesday         99.3      0.47      76    0.5     41
2017-07-27   Thursday         97.9      0.47      74    0.5     43

What if we would like to filter our data to show only Saturday and Sundays?

In [10]:
df[(df.Day == "Saturday") | (df.Day == "Sunday")].head()

                 Day  Temperature  Rainfall  Flyers  Price  Sales
Date
2017-01-01    Sunday         27.0      2.00      15    0.3     10
2017-07-01  Saturday         32.9      1.54      19    0.3     13
2017-08-01    Sunday         37.5      1.18      28    0.3     15
2017-01-14  Saturday         44.1      1.05      23    0.3     17
2017-01-15    Sunday         43.4      1.11      33    0.3     18

Above we can see filtering work but selecting two the Day to be Saturday or Sunday. Can we filter on numeric? Below we will filter on days where temperature is below 30 degrees.

In [11]:
df[df.Temperature < 30].head()

                Day  Temperature  Rainfall  Flyers  Price  Sales
Date
2017-01-01   Sunday         27.0      2.00      15    0.3     10
2017-02-01   Monday         28.9      1.33      15    0.3     13
2017-06-01   Friday         25.3      1.54      23    0.3     11
2017-01-24  Tuesday         28.6      1.54      20    0.3     12
2017-05-12  Tuesday         22.0      1.82      11    0.3     10

## Derived Data
Rosie will be able to multiple to daily price by the daily sales to get a new field called Revenue. Lets see how we can do that now

In [12]:
df["Revenue"] = df.Sales * df.Price
df.head()

                  Day  Temperature  Rainfall  Flyers  Price  Sales  Revenue
Date
2017-01-01     Sunday         27.0      2.00      15    0.3     10      3.0
2017-02-01     Monday         28.9      1.33      15    0.3     13      3.9
2017-03-01    Tuesday         34.5      1.33      27    0.3     15      4.5
2017-04-01  Wednesday         44.1      1.05      28    0.3     17      5.1
2017-05-01   Thursday         42.4      1.00      33    0.3     18      5.4

You can apply calculations to a field in order to generate a new field or change an existing on so the data is more useful. For example lets try to convert Temperature from Celsius to Fahrenheit and updating Temperature. <br>
**T(°F) = T(°C) × 9/5 + 32**

In [13]:
df['Temperature'] = (df.Temperature-32)*5/9
df.head()

                  Day  Temperature  Rainfall  Flyers  Price  Sales  Revenue
Date
2017-01-01     Sunday    -2.777778      2.00      15    0.3     10      3.0
2017-02-01     Monday    -1.722222      1.33      15    0.3     13      3.9
2017-03-01    Tuesday     1.388889      1.33      27    0.3     15      4.5
2017-04-01  Wednesday     6.722222      1.05      28    0.3     17      5.1
2017-05-01   Thursday     5.777778      1.00      33    0.3     18      5.4

We can now easily return our temp
** T(°C) = (T(°F) - 32) × 5/9 **

In [14]:
df['Temperature'] = df.Temperature*9/5 + 32
df.head()

                  Day  Temperature  Rainfall  Flyers  Price  Sales  Revenue
Date
2017-01-01     Sunday         27.0      2.00      15    0.3     10      3.0
2017-02-01     Monday         28.9      1.33      15    0.3     13      3.9
2017-03-01    Tuesday         34.5      1.33      27    0.3     15      4.5
2017-04-01  Wednesday         44.1      1.05      28    0.3     17      5.1
2017-05-01   Thursday         42.4      1.00      33    0.3     18      5.4

When working with a small dataset you can look closly to spot interesting values and apparent relationships. When you work with a larger data set, it can be diffiult to find these so it is important to highlight these values. One way to do this is to use color intensity to high light it also known as heatmap. Another technique is to show comparative values with relative size data bars. You can also highlight indiviual values that fall in a certain criteria, for example Rosie could highlight the top 20 percent percent of revenue in green while highlighting the bottom 20 percent in red to be able to see which days she did well on and which days she didn't do so well. To get a visualization for that this would look like pls check our the [excel sheet](https://1drv.ms/x/s!AmlELZ49NiYjlljn5sA6i7-7_2Sb).

Now lets save our data frame so we can continue to use it in the next notebooks.

In [15]:
df.to_csv('data\lemonade-2.csv', sep=',', encoding='utf-8')