## Getting Started with Data

Data science is about the study of data

In our first example Rosie is a middle school study who runs a lemonade stand to make money in her spare time and because she is smart she keeps records of each day to analyze her performance as a lemonade entrepreneur. The examples in the [course](https://www.edx.org/course/introduction-to-data-science "Edx course") uses excel to load the data but here we will be using python 3 and jupyter notebook. The first thing we want to do is load our libraries. The first line of the code below allow the notebook to display plots.

In [5]:
%matplotlib inline
import pandas as pd
from matplotlib import pyplot as plt

## We will now import our data from lemonade to a dataframe

In [8]:
df = pd.read_csv('data/Lemonade.csv')
df.head()

         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  01/01/2017     Sunday         27.0      2.00      15    0.3     10
1  02/01/2017     Monday         28.9      1.33      15    0.3     13
2  03/01/2017    Tuesday         34.5      1.33      27    0.3     15
3  04/01/2017  Wednesday         44.1      1.05      28    0.3     17
4  05/01/2017   Thursday         42.4      1.00      33    0.3     18

In [3]:
print(frame[['Temperature','Sales']].describe())

NameError: name 'frame' is not defined

In [13]:
df.dtypes

Date            object
Day             object
Temperature    float64
Rainfall       float64
Flyers           int64
Price          float64
Sales            int64
dtype: object